<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Movie</h1>
    <form action="/movies/add" method="post">
        <label for="">name</label><br>
        <input type="text" name="name"><br>
        <label for="">released_year</label><br>
        <input type="number" name="released_year"><br>
        <label for="">Genre</label><br>
        <select name="genre" id="">
            <option disabled selected value="">-- SELECT --</option>
            <% ['comedy', 'drama', 'horor', 'animasi', 'religious', 'thriller'].forEach(el => { %>
                <option value="<%=el%>"><%=el%></option>
            <%}); %> 
        </select><br>
        <label for="">Prod House</label><br>
        <select name="ProductionHouseId" id="">
            <option disabled selected value="">-- SELECT --</option>
            <% ph.forEach(el => { %>
                <option value="<%=el.id%>"><%=el.name_prodHouse%></option>
            <%}); %> 
        </select><br>
        <input type="submit" value="add" id="">   
    </form>
</body>
</html>